{% extends "base.html" %}

{% block title %}MyDex{% endblock %}

{% block content %}
<main class="page">
    <section class="home-hero">
        <h1 class="home-title">MyDex</h1>
    </section>

    <section class="search-box">
        <h2>Cerca un Pokemon</h2>
        <p>Inserisci un nome o un il numero del pokedex per visualizzare la scheda completa di un Pokèmon.</p>

        <form method="get" action="/pokedex">
            <input type="text" name="pokemon" placeholder="Es. pikachu o 25" value="{{ query }}">
            <button type="submit">Cerca</button>
        </form>

        {% if error %}
        <div class="message error">{{ error }}</div>
        {% endif %}
    </section>

    <section class="generation-box">
        <div class="section-heading home-generation-heading">
            <h2>Divisione per generazioni:</h2>
        </div>

        <div class="generation-grid">
            {% for generation in generations %}
            <a class="generation-card" href="{{ generation.href }}">
                <img src="{{ url_for('static', filename=generation.image) }}" alt="{{ generation.label }}">
                <span>{{ generation.label }}</span>
            </a>
            {% endfor %}
        </div>
    </section>

</main>
{% endblock %}
